<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href="assets/stylesheets/icons.css" media="all" rel="stylesheet" type="text/css" />
		<link href="assets/stylesheets/layout.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<header>
			<img src="{{ about.avatar}} " />
			<h1>Vincent Prêtre</h1>
			<span class="headline">{{ about.title }}</span>
			<div id="address" class="location">{{{md about.address}}}</div>
			<ul id="contacts">
				{{#each about.contacts}}
				<li>
					<a href="{{this.value}}" title="{{this.title}}" class="{{this.type}}">
						{{this.title}}
					</a>
				</li>
				{{/each}}
			</ul>
		</header>
		<nav>
			<ul class="sections">
				<li>
					<a href="#resume">{{ resume.title }}</a>
				</li>
				<li>
					<a href="#experience">{{ experience.title }}</a>
				</li>
				<li>
					<a href="#education">{{ education.title }}</a>
				</li>
				<li>
					<a href="#hobbies">{{ hobbie.title }}</a>
				</li>
			</ul>
			<ul class="langs">
				<li class="fr">
					<a href="index_fr.html">Français</a>
				</li>
				<li class="en">
					<a href="index.html">English</a>
				</li>
			</ul>
		</nav>
		<main>
			<section id="resume">
				<h2>{{ resume.title }}</h2>
			</section>
			<section id="experience">
				<h2>{{ experience.title }}</h2>
				{{#each experience.data}}
				<article>
					<h3>{{ this.title}} </h3>
					<span class="dates">{{ this.dates }}</span>
					<a href="{{this.where.link}}" class="where where-{{this.where-uid}}">
						{{ this.where.name}}, {{this.where.location}}
					</a>
					{{{md this.body }}}
					<ul class="keywords">
						{{#each this.keywords}}
							<li>{{ this }}</li>
						{{/each}}
					</ul>
				</article>
				{{/each}}
			</section>
			<section id="education">
				<h2>{{ education.title }}</h2>
				{{#each education.data}}
				<article>
					<h3>{{ this.title }}</h3>
					<span class="dates">{{ this.dates }}</span>
					<span class="where-{{this.where-uid}}">{{ this.where.name}} </span>
				</article>
				{{/each}}
			</section>
			<section id="hobbies">
				<h2>{{ hobbie.title }}</h2>
				{{{md hobbie.body }}}
			</section>
		</main>
		<footer>
			<p>Hosted by <a href="https://pages.github.com/">Github.io</a> / Icons from <a href="https://icomoon.io/">icoMoon</a></p>
		</footer>
	</body>
</html>