<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
		<link href="assets/stylesheets/icons.css" media="all" rel="stylesheet" type="text/css" />
		<link href="assets/stylesheets/layout.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<header>
			<img class="avatar" src="{{ about.avatar}} " />
			<h1>Vincent Prêtre</h1>
			<span class="headline">{{ about.title }}</span>
			<div id="address">{{{md about.address}}}</div>
			<ul id="contacts">
				{{#each about.contacts}}
				<li>
					<a href="{{this.value}}" title="{{this.title}}" class="{{this.type}}">
						{{this.title}}
					</a>
				</li>
				{{/each}}
			</ul>
		</header>
		<nav>
			<ul class="sections">
				<li>
					<a href="#resume" class="link-to-resume">{{ resume.title }}</a>
				</li>
				<li>
					<a href="#experience" class="link-to-experience">{{ experience.title }}</a>
				</li>
				<li>
					<a href="#education" class="link-to-education">{{ education.title }}</a>
				</li>
				<li>
					<a href="#skills" class="link-to-skills">{{ skills.title }}</a>
				</li>
				<li>
					<a href="#hobbies" class="link-to-hobbies">{{ hobbie.title }}</a>
				</li>
			</ul>
			<ul class="langs">
				<li class="fr">
					<a href="index_fr.html">Français</a>
				</li>
				<li class="en">
					<a href="index.html">English</a>
				</li>
			</ul>
		</nav>
		<main>
			<section id="resume">
				<h2>{{ resume.title }}</h2>
			</section>
			<section id="experience">
				<h2>{{ experience.title }}</h2>
				{{#each experience.data}}
				<article>
					<h3>{{ this.title}} </h3>
					<span class="dates">{{ this.dates }}</span>
					<a href="{{this.where.link}}" class="where where-{{this.where-uid}}">
						{{ this.where.name}}, {{this.where.location}}
					</a>
					{{{md this.body }}}
					<ul class="keywords">
						{{#each this.keywords}}
							<li>{{ this }}</li>
						{{/each}}
					</ul>
				</article>
				{{/each}}
			</section>
			<section id="education">
				<h2>{{ education.title }}</h2>
				{{#each education.data}}
				<article>
					<h3>{{ this.title }}</h3>
					<span class="dates">{{ this.dates }}</span>
					<span class="where-{{this.where-uid}}">{{ this.where.name}} </span>
				</article>
				{{/each}}
			</section>
			<section id="skills">
				<h2>{{ skills.title }}</h2>
				<dl>
				{{#each skills.data}}
					<dt>{{this.title}}</dt>
					<dd>{{this.body}}</dd>
				{{/each}}
				</dl>
			</section>
			<section id="hobbies">
				<h2>{{ hobbie.title }}</h2>
				{{{md hobbie.body }}}
			</section>
		</main>
		<footer>
			<p>Hosted by <a href="https://pages.github.com/">Github pages</a> - Icons from <a href="https://icomoon.io/">icoMoon</a></p>
		</footer>
	</body>
</html>